{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block body %}
<div class="container">
    <h1>Signup Form</h1>
    <form action="{% url 'adduser' %}" method="post">
        {% csrf_token %}
        <form>
            <div class="form-group">
              <label>Username</label>
                {{form1.username}}
              </div>
            <div class="form-group">
              <label>Password</label>
              {{form1.password}}
            </div> 
            <div class="form-group">
                <label>Email Address</label>
                {{form1.email}}
              </div>
              <div class="form-group">
                <label>Phone</label>
                {{form1.phone}}
              </div>                 
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
    
    </form>
  
</div>
{% endblock %}